# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/

# Çıktı Klasöründeki Ağır Dosyaları Yoksay (GitHub'ı çökertmemek için)
vbt_bist/output/**/*.png
vbt_bist/output/**/*.html
vbt_bist/output/**/*.csv
# VS Code
.vscode/

# Ortam değişkenleri
.env

Staj_Raporlari